@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap);





body {
  font-family: Nunito;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.72rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Merriweather', serif;
  font-size: 0.7rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.12rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.36rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.94rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.56rem;
    font-size: calc( 0.895rem + (0.7 - 0.895) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.895rem + (0.7 - 0.895) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 20px 30px;
  border-radius: 8px;
}
.bg-primary {
  background-color: #fac1c8 !important;
}
.bg-success {
  background-color: #9ccd7e !important;
}
.bg-info {
  background-color: #999999 !important;
}
.bg-warning {
  background-color: #b97ecd !important;
}
.bg-danger {
  background-color: #ec2e5c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fac1c8 !important;
  border-color: #fac1c8 !important;
  color: #ae0e22 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ae0e22 !important;
  background-color: #f47a89 !important;
  border-color: #f47a89 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #3c71d3 !important;
  border-color: #3c71d3 !important;
  color: #ffffff !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #244f9f !important;
  border-color: #244f9f !important;
}
.btn-info,
.btn-info:active {
  background-color: #999999 !important;
  border-color: #999999 !important;
  color: #ffffff !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #737373 !important;
  border-color: #737373 !important;
}
.btn-success,
.btn-success:active {
  background-color: #9ccd7e !important;
  border-color: #9ccd7e !important;
  color: #ffffff !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #72b747 !important;
  border-color: #72b747 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #b97ecd !important;
  border-color: #b97ecd !important;
  color: #ffffff !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b47b7 !important;
  border-color: #9b47b7 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ec2e5c !important;
  border-color: #ec2e5c !important;
  color: #ffffff !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #bc113b !important;
  border-color: #bc113b !important;
}
.btn-white {
  color: #404040 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #fac1c8;
  color: #fac1c8;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ae0e22;
  background-color: #fac1c8;
  border-color: #fac1c8;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ae0e22 !important;
  background-color: #fac1c8 !important;
  border-color: #fac1c8 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #3c71d3;
  color: #3c71d3;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #3c71d3;
  border-color: #3c71d3;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3c71d3 !important;
  border-color: #3c71d3 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #999999 !important;
  border-color: #999999 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #9ccd7e;
  color: #9ccd7e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #9ccd7e;
  border-color: #9ccd7e;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9ccd7e !important;
  border-color: #9ccd7e !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #b97ecd;
  color: #b97ecd;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #b97ecd;
  border-color: #b97ecd;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b97ecd !important;
  border-color: #b97ecd !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #ec2e5c;
  color: #ec2e5c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ec2e5c;
  border-color: #ec2e5c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ec2e5c !important;
  border-color: #ec2e5c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #fac1c8 !important;
}
.text-secondary {
  color: #3c71d3 !important;
}
.text-success {
  color: #9ccd7e !important;
}
.text-info {
  color: #999999 !important;
}
.text-warning {
  color: #b97ecd !important;
}
.text-danger {
  color: #ec2e5c !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ffffff !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #8faee6 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d4e9c8 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e1c8e9 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #f58ba5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #999999;
}
.alert-warning {
  background-color: #b97ecd;
}
.alert-danger {
  background-color: #ec2e5c;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5) !important;
  -webkit-box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fac1c8;
  border-color: #fac1c8;
  color: #c61026;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #fac1c8;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d9d9d9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fde9ee;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Merriweather', serif;
  font-size: 0.7rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 1.12rem;
}
blockquote {
  border-color: #fac1c8;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fac1c8;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fac1c8;
  border-bottom-color: #fac1c8;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fac1c8 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #3c71d3 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fac1c8' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rVs1JRXiBo .dropdown-menu {
  padding: 12px 0;
}
.cid-rVs1JRXiBo .dropdown-item:hover,
.cid-rVs1JRXiBo .dropdown-item:focus {
  color: white;
  opacity: 0.75;
}
.cid-rVs1JRXiBo .dropdown-item.display-4 {
  font-size: 14px;
  line-height: 1;
}
.cid-rVs1JRXiBo .nav-dropdown .link {
  padding: 40px 24px !important;
  font-weight: 600 !important;
}
.cid-rVs1JRXiBo .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-rVs1JRXiBo .nav-link {
  position: relative;
}
.cid-rVs1JRXiBo .container {
  display: flex;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center !important;
}
.cid-rVs1JRXiBo .mbr-iconfont {
  color: #ffffff;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-rVs1JRXiBo .navbar-nav {
  justify-content: center;
  margin-left: auto;
}
.cid-rVs1JRXiBo .dropdown-menu,
.cid-rVs1JRXiBo .navbar.opened {
  background: #ffc7ba !important;
}
.cid-rVs1JRXiBo .nav-item:focus,
.cid-rVs1JRXiBo .nav-link:focus {
  outline: none;
}
.cid-rVs1JRXiBo .nav-item:hover .link {
  opacity: 0.75;
  transition: all 200ms ease-in-out;
}
.cid-rVs1JRXiBo .nav-item .link.display-4 {
  font-size: 14px;
}
.cid-rVs1JRXiBo .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rVs1JRXiBo .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rVs1JRXiBo .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rVs1JRXiBo .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rVs1JRXiBo .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rVs1JRXiBo .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rVs1JRXiBo .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #f9fafb;
  background: none;
}
.cid-rVs1JRXiBo .navbar.opened {
  transition: all 0.3s;
  width: 300px;
  height: 100%;
  padding: 0px 30px 10px 30px;
}
.cid-rVs1JRXiBo .navbar.opened .container {
  align-self: flex-start;
  margin: 0px;
}
.cid-rVs1JRXiBo .navbar.opened .container .navbar-brand {
  padding: 3rem 0 2rem;
}
.cid-rVs1JRXiBo .navbar.opened .container button.navbar-toggler {
  position: absolute;
  top: 1.3rem;
  left: auto;
  right: -0.5rem;
}
.cid-rVs1JRXiBo .navbar.opened .container button.navbar-toggler .hamburger span {
  width: 15px;
  height: 3px;
}
.cid-rVs1JRXiBo .navbar.opened .container ul.navbar-nav li {
  margin: 0;
}
.cid-rVs1JRXiBo .navbar.opened .container ul.navbar-nav li .link {
  justify-content: flex-start;
}
.cid-rVs1JRXiBo .navbar.opened .container .nav-dropdown .link {
  padding: 14px 42px 14px 0 !important;
}
.cid-rVs1JRXiBo .navbar .dropdown-item {
  padding: 12px 40px 12px 24px;
}
.cid-rVs1JRXiBo .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
  display: none !important;
}
.cid-rVs1JRXiBo .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rVs1JRXiBo .navbar.collapsed .navbar-toggler {
  -webkit-flex-basis: auto;
  flex-basis: auto;
  margin-left: auto;
}
.cid-rVs1JRXiBo .navbar.collapsed.opened {
  position: fixed;
}
.cid-rVs1JRXiBo .navbar.collapsed.opened .dropdown-menu {
  top: 0;
  padding-left: 20px;
}
.cid-rVs1JRXiBo .navbar.collapsed.opened .dropdown-menu .dropdown-item {
  padding: 14px 45px 14px 0 !important;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-rVs1JRXiBo .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rVs1JRXiBo .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rVs1JRXiBo .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rVs1JRXiBo .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rVs1JRXiBo .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rVs1JRXiBo .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-rVs1JRXiBo .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-rVs1JRXiBo .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rVs1JRXiBo .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rVs1JRXiBo .navbar .dropdown-menu {
    padding-left: 20px;
  }
  .cid-rVs1JRXiBo .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rVs1JRXiBo .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rVs1JRXiBo .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }
  .cid-rVs1JRXiBo .navbar .dropdown-menu .dropdown-item {
    padding: 14px 45px 14px 0 !important;
    text-align: left;
  }
  .cid-rVs1JRXiBo .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rVs1JRXiBo .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rVs1JRXiBo .navbar .navbar-brand {
    margin-right: auto;
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-rVs1JRXiBo .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-left: auto;
  }
  .cid-rVs1JRXiBo .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-rVs1JRXiBo .navbar.navbar-short {
  background: #f9fafb !important;
  min-height: 60px;
}
.cid-rVs1JRXiBo .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rVs1JRXiBo .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rVs1JRXiBo .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rVs1JRXiBo .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rVs1JRXiBo .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rVs1JRXiBo .dropdown-item.active,
.cid-rVs1JRXiBo .dropdown-item:active {
  background-color: transparent;
}
.cid-rVs1JRXiBo .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rVs1JRXiBo .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rVs1JRXiBo .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rVs1JRXiBo .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f9fafb;
}
.cid-rVs1JRXiBo .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rVs1JRXiBo .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rVs1JRXiBo ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rVs1JRXiBo .navbar-buttons {
  text-align: center;
}
.cid-rVs1JRXiBo button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rVs1JRXiBo button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rVs1JRXiBo button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-rVs1JRXiBo button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rVs1JRXiBo button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rVs1JRXiBo button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-rVs1JRXiBo nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rVs1JRXiBo nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-rVs1JRXiBo nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-rVs1JRXiBo nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rVs1JRXiBo .navbar-dropdown {
  position: fixed;
}
.cid-rVs1JRXiBo a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rVs1JRXiBo .icons-menu {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-rVs1JRXiBo .icons-menu span {
  font-size: 22px;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}
.cid-rVs1JRXiBo .icons-menu span:hover {
  opacity: 0.7;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rVs1JRXiBo .navbar {
    height: 77px;
  }
  .cid-rVs1JRXiBo .navbar.opened {
    height: auto;
  }
  .cid-rVs1JRXiBo .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-staLih07pG {
  padding-top: 225px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/full-3-1440x900.png");
}
.cid-staLih07pG .mbr-section-title.display-2 {
  font-size: 40px;
  line-height: 1.25;
}
.cid-staLih07pG .mbr-section-subtitle.display-5 {
  font-size: 26px;
  line-height: 1.385;
}
.cid-staLih07pG .mbr-section-btn .btn {
  margin-left: 0 !important;
}
.cid-staLih07pG .mbr-section-btn .btn.display-4 {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
}
.cid-staLih07pG .mbr-section-title,
.cid-staLih07pG .mbr-section-btn {
  color: #ec2e5c;
}
.cid-staLih07pG .mbr-section-subtitle,
.cid-staLih07pG .mbr-section-btn {
  color: #e6eaf1;
}
.cid-staLih07pG .mbr-text,
.cid-staLih07pG .mbr-section-btn {
  color: #333333;
}
.cid-stc4r9LMUJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ecedee;
}
.cid-stc4r9LMUJ .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-stc4r9LMUJ img {
  width: 100%;
}
.cid-stc4r9LMUJ .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(132, 138, 189, 0.15);
}
.cid-stc4r9LMUJ .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-stc4r9LMUJ .main-title {
  color: #404040;
}
.cid-stc4r9LMUJ .mbr-section-subtitle {
  color: #999999;
  font-weight: 700;
  margin-bottom: 21px;
}
.cid-stc4r9LMUJ .mbr-text {
  color: #606060;
}
.cid-stc4r9LMUJ .cards .card {
  margin-bottom: 34px;
}
.cid-stc4r9LMUJ .cards .card .card-title {
  font-weight: 600;
  color: #404040;
  margin-bottom: 16px;
}
.cid-stc4r9LMUJ .cards .card .mbr-text {
  color: #606060;
}
@media (max-width: 768px) {
  .cid-stc4r9LMUJ .card {
    text-align: left;
  }
  .cid-stc4r9LMUJ .card .card-title {
    text-align: left;
  }
}
.cid-stc4r9LMUJ .cards .card .mbr-text,
.cid-stc4r9LMUJ .mbr-section-btn {
  color: #878787;
}
.cid-staXTyTauG {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ecedee;
}
.cid-staXTyTauG img {
  width: 100%;
}
.cid-staXTyTauG .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(132, 138, 189, 0.15);
}
.cid-staXTyTauG .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-staXTyTauG .main-title {
  color: #404040;
}
.cid-staXTyTauG .mbr-section-subtitle {
  color: #ec2e5c;
  font-weight: 700;
  margin-bottom: 21px;
}
.cid-staXTyTauG .mbr-text {
  color: #606060;
}
.cid-staXTyTauG .cards .card {
  margin-bottom: 34px;
}
.cid-staXTyTauG .cards .card .card-title {
  font-weight: 600;
  color: #404040;
  margin-bottom: 16px;
}
.cid-staXTyTauG .cards .card .mbr-text {
  color: #606060;
}
@media (max-width: 768px) {
  .cid-staXTyTauG .card {
    text-align: left;
  }
  .cid-staXTyTauG .card .card-title {
    text-align: left;
  }
}
.cid-stb0PHLvY9 {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ecedee;
}
.cid-stb0PHLvY9 .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-stb0PHLvY9 img {
  width: 100%;
}
.cid-stb0PHLvY9 .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(132, 138, 189, 0.15);
}
.cid-stb0PHLvY9 .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-stb0PHLvY9 .main-title {
  color: #404040;
}
.cid-stb0PHLvY9 .mbr-section-subtitle {
  color: #ec2e5c;
  font-weight: 700;
  margin-bottom: 21px;
}
.cid-stb0PHLvY9 .mbr-text {
  color: #606060;
}
.cid-stb0PHLvY9 .cards .card {
  margin-bottom: 34px;
}
.cid-stb0PHLvY9 .cards .card .card-title {
  font-weight: 600;
  color: #404040;
  margin-bottom: 16px;
}
.cid-stb0PHLvY9 .cards .card .mbr-text {
  color: #606060;
}
@media (max-width: 768px) {
  .cid-stb0PHLvY9 .card {
    text-align: left;
  }
  .cid-stb0PHLvY9 .card .card-title {
    text-align: left;
  }
}
.cid-stb0PHLvY9 .cards .card .mbr-text,
.cid-stb0PHLvY9 .mbr-section-btn {
  color: #333333;
}
.cid-stb1qPTN5Y {
  padding-top: 645px;
  background-image: url("../../../assets/images/q-35-2000x1333.jpg");
}
.cid-stb1qPTN5Y H2 {
  color: #ec2e5c;
}
.cid-stb1qPTN5Y h1 {
  background: linear-gradient(to left, #3c71d3, currentColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-stb1qPTN5Y section {
  align-items: flex-end !important;
}
.cid-stb1qPTN5Y .mbr-text,
.cid-stb1qPTN5Y .mbr-section-btn {
  color: #f9fafb;
}
.cid-stb1qPTN5Y .mbr-overlay {
  background-color: transparent !important;
  background: linear-gradient(to top, #333333, transparent);
}
.cid-stb4Qj1Qms {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #333333;
}
.cid-stb4Qj1Qms .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-stb4Qj1Qms .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #fac1c8, #3c71d3);
  display: inline-block;
}
.cid-stb4Qj1Qms .container-fluid {
  padding: 0 3rem;
}
.cid-stb4Qj1Qms .mbr-iconfont {
  color: #cccccc;
  font-size: 1.6rem;
}
.cid-stb4Qj1Qms .mbr-iconfont:hover {
  color: #ffa0a4;
}
.cid-stb4Qj1Qms .image-wrap img {
  border-radius: 50%;
  width: 40%;
  height: 40%;
}
.cid-stb4Qj1Qms .mbr-title {
  margin-bottom: 0;
}
.cid-stb4Qj1Qms .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-stb4Qj1Qms .social-media ul li {
  margin-right: .8rem;
  display: inline-block;
}
.cid-stb4Qj1Qms .card-wrap {
  padding: 0 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .cid-stb4Qj1Qms .card-wrap {
    padding: 0 1rem;
  }
  .cid-stb4Qj1Qms .container-fluid {
    padding: 0 1rem;
  }
  .cid-stb4Qj1Qms .mbr-role {
    margin-top: .5rem;
  }
}
.cid-stb4Qj1Qms .social-media,
.cid-stb4Qj1Qms .image-wrap,
.cid-stb4Qj1Qms .mbr-title {
  color: #fac1c8;
}
.cid-stb4Qj1Qms .mbr-section-subtitle {
  color: #f9fafb;
}
.cid-stbalbBdJg {
  padding-top: 45px;
  padding-bottom: 150px;
  overflow: hidden;
  background-color: #333333;
}
.cid-stbalbBdJg svg {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%) scale(1.5, 1.4);
  overflow: hidden;
  pointer-events: none;
}
.cid-stbalbBdJg #e2_shape {
  fill: #ecedee !important;
}
.cid-stbalbBdJg .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 26px;
}
.cid-stbalbBdJg .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-stbalbBdJg .mbr-section-subtitle {
  color: #ec2e5c;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-stbalbBdJg .mbr-section-title {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 21px;
}
.cid-stbalbBdJg .card {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-stbalbBdJg .card .card-img {
  width: 20%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-stbalbBdJg .card .card-box {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 80%;
  padding-left: 25px;
}
.cid-stbalbBdJg .card .card-box .card-title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 12px;
}
.cid-stbalbBdJg .card .card-box .card-title.display-7 {
  line-height: 1.3;
}
.cid-stbalbBdJg .card .card-box .mbr-text {
  color: #ffffff;
  margin-bottom: 20px;
}
.cid-stbalbBdJg .card .card-box .mbr-text.display-4 {
  line-height: 1.75;
}
.cid-stbalbBdJg .card .card-img span {
  color: #fac1c8;
  font-size: 38px;
  font-weight: 900;
}
@media (max-width: 767px) {
  .cid-stbalbBdJg .card {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-stbalbBdJg .card .card-img {
    width: 100%;
    padding-bottom: 1.5rem;
  }
  .cid-stbalbBdJg .card .card-box {
    width: 100%;
    padding-left: 0;
  }
  .cid-stbalbBdJg .card .card-box .card-title,
  .cid-stbalbBdJg .card .card-box .mbr-text,
  .cid-stbalbBdJg .card .card-box .link {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-stbalbBdJg .card {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .cid-stbalbBdJg .card .card-img {
    text-align: right !important;
  }
}
.cid-stbvjqX9aI {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ecedee;
}
.cid-stbvjqX9aI img {
  width: 100%;
}
.cid-stbvjqX9aI .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(132, 138, 189, 0.15);
}
.cid-stbvjqX9aI .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-stbvjqX9aI .main-title {
  color: #404040;
}
.cid-stbvjqX9aI .mbr-section-subtitle {
  color: #999999;
  font-weight: 700;
  margin-bottom: 21px;
}
.cid-stbvjqX9aI .mbr-text {
  color: #606060;
}
.cid-stbvjqX9aI .cards .card {
  margin-bottom: 34px;
}
.cid-stbvjqX9aI .cards .card .card-title {
  font-weight: 600;
  color: #404040;
  margin-bottom: 16px;
}
.cid-stbvjqX9aI .cards .card .mbr-text {
  color: #606060;
}
@media (max-width: 768px) {
  .cid-stbvjqX9aI .card {
    text-align: left;
  }
  .cid-stbvjqX9aI .card .card-title {
    text-align: left;
  }
}
.cid-stcjY4akdf {
  padding-top: 30px;
  padding-bottom: 105px;
  overflow: hidden;
  background-color: #ecedee;
}
.cid-stcjY4akdf .card-title {
  margin: 0;
}
.cid-stcjY4akdf .card-img,
.cid-stcjY4akdf .card-box {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-stcjY4akdf svg {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%) scale(1.5, 1.4);
  overflow: hidden;
  pointer-events: none;
}
.cid-stcjY4akdf #e2_shape {
  fill: #ffffff !important;
}
.cid-stcjY4akdf .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 26px;
}
.cid-stcjY4akdf .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-stcjY4akdf .mbr-section-subtitle {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-stcjY4akdf .mbr-section-title {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 21px;
}
.cid-stcjY4akdf .card {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-stcjY4akdf .card .card-img {
  width: 20%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-stcjY4akdf .card .card-box {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-stcjY4akdf .card .card-box .card-title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 12px;
}
.cid-stcjY4akdf .card .card-box .card-title.display-7 {
  line-height: 1.3;
}
.cid-stcjY4akdf .card .card-box .mbr-text {
  color: #ffffff;
  margin-bottom: 20px;
}
.cid-stcjY4akdf .card .card-box .mbr-text.display-4 {
  line-height: 1.75;
}
.cid-stcjY4akdf .card .card-img span {
  color: #3c71d3;
  font-size: 38px;
  font-weight: 900;
}
@media (max-width: 767px) {
  .cid-stcjY4akdf .card {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-stcjY4akdf .card .card-img {
    width: 100%;
    padding-bottom: 1.5rem;
  }
  .cid-stcjY4akdf .card .card-box {
    width: 100%;
    padding-left: 0;
  }
  .cid-stcjY4akdf .card .card-box .card-title,
  .cid-stcjY4akdf .card .card-box .mbr-text,
  .cid-stcjY4akdf .card .card-box .link {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-stcjY4akdf .card {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .cid-stcjY4akdf .card .card-img {
    text-align: right !important;
  }
}
.cid-stbQbHVfOA {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-stbQbHVfOA .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-stbQbHVfOA img {
  width: 100%;
}
.cid-stbQbHVfOA .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(132, 138, 189, 0.15);
}
.cid-stbQbHVfOA .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-stbQbHVfOA .main-title {
  color: #404040;
}
.cid-stbQbHVfOA .mbr-section-subtitle {
  color: #ec2e5c;
  font-weight: 700;
  margin-bottom: 21px;
}
.cid-stbQbHVfOA .mbr-text {
  color: #606060;
}
.cid-stbQbHVfOA .cards .card {
  margin-bottom: 34px;
}
.cid-stbQbHVfOA .cards .card .card-title {
  font-weight: 600;
  color: #404040;
  margin-bottom: 16px;
}
.cid-stbQbHVfOA .cards .card .mbr-text {
  color: #606060;
}
@media (max-width: 768px) {
  .cid-stbQbHVfOA .card {
    text-align: left;
  }
  .cid-stbQbHVfOA .card .card-title {
    text-align: left;
  }
}
.cid-stbQbHVfOA .cards .card .mbr-text,
.cid-stbQbHVfOA .mbr-section-btn {
  color: #606060;
}
.cid-stbR8x2K2k {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .cid-stbR8x2K2k {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.cid-stbR8x2K2k .container-fluid {
  padding: 0 2rem;
  max-width: 1300px;
}
.cid-stbR8x2K2k .video-block {
  margin: auto;
}
@media (max-width: 767px) {
  .cid-stbR8x2K2k .container-fluid {
    padding: 0 1rem;
  }
  .cid-stbR8x2K2k .video-block {
    width: 100% !important;
  }
}
.cid-stbR7RBA3V {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .cid-stbR7RBA3V {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.cid-stbR7RBA3V .container-fluid {
  padding: 0 2rem;
  max-width: 1300px;
}
.cid-stbR7RBA3V .video-block {
  margin: auto;
}
@media (max-width: 767px) {
  .cid-stbR7RBA3V .container-fluid {
    padding: 0 1rem;
  }
  .cid-stbR7RBA3V .video-block {
    width: 100% !important;
  }
}
.cid-stbR41BleF {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .cid-stbR41BleF {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.cid-stbR41BleF .container-fluid {
  padding: 0 2rem;
  max-width: 1300px;
}
.cid-stbR41BleF .video-block {
  margin: auto;
}
@media (max-width: 767px) {
  .cid-stbR41BleF .container-fluid {
    padding: 0 1rem;
  }
  .cid-stbR41BleF .video-block {
    width: 100% !important;
  }
}
.cid-stbS2laL2b {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #333333;
}
.cid-stbS2laL2b .mbr-text,
.cid-stbS2laL2b .mbr-section-btn {
  color: #f9fafb;
}
.cid-stbS2laL2b H6 {
  color: #f9fafb;
}
.cid-stbVhEW2S9 {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}
.cid-stbVhEW2S9 .image-block {
  margin: auto;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.cid-stbVhEW2S9 .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-stbVhEW2S9 .image-block:hover:before {
  opacity: 0.4;
}
.cid-stbVhEW2S9 .image-block:hover .wrap {
  opacity: 1;
}
.cid-stbVhEW2S9 .image-block:hover img {
  transform: scale(1.05);
}
.cid-stbVhEW2S9 figcaption {
  position: relative;
}
.cid-stbVhEW2S9 figcaption .wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-stbVhEW2S9 img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-stbVhEW2S9 .image-block {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-stbVhEW2S9 .wrap {
    opacity: 1 !important;
  }
  .cid-stbVhEW2S9 .image-block:before {
    opacity: 0.2 !important;
  }
  .cid-stbVhEW2S9 .sm-pb {
    margin-bottom: 1rem;
  }
}
.cid-stbTSJsZ72 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #333333;
}
.cid-stbTSJsZ72 .mbr-text,
.cid-stbTSJsZ72 .mbr-section-btn {
  color: #f9fafb;
}
.cid-stbTSJsZ72 H6 {
  color: #ffffff;
}
.cid-stbUIMLABa {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 15px;
}
.cid-stbUIMLABa .image-block {
  margin: auto;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.cid-stbUIMLABa .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-stbUIMLABa .image-block:hover:before {
  opacity: 0.4;
}
.cid-stbUIMLABa .image-block:hover .wrap {
  opacity: 1;
}
.cid-stbUIMLABa .image-block:hover img {
  transform: scale(1.05);
}
.cid-stbUIMLABa figcaption {
  position: relative;
}
.cid-stbUIMLABa figcaption .wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-stbUIMLABa img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-stbUIMLABa .image-block {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-stbUIMLABa .wrap {
    opacity: 1 !important;
  }
  .cid-stbUIMLABa .image-block:before {
    opacity: 0.2 !important;
  }
  .cid-stbUIMLABa .sm-pb {
    margin-bottom: 1rem;
  }
}
.cid-stbVkaC3JM {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-stbVkaC3JM .image-block {
  margin: auto;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.cid-stbVkaC3JM .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-stbVkaC3JM .image-block:hover:before {
  opacity: 0.4;
}
.cid-stbVkaC3JM .image-block:hover .wrap {
  opacity: 1;
}
.cid-stbVkaC3JM .image-block:hover img {
  transform: scale(1.05);
}
.cid-stbVkaC3JM figcaption {
  position: relative;
}
.cid-stbVkaC3JM figcaption .wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-stbVkaC3JM img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-stbVkaC3JM .image-block {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-stbVkaC3JM .wrap {
    opacity: 1 !important;
  }
  .cid-stbVkaC3JM .image-block:before {
    opacity: 0.2 !important;
  }
  .cid-stbVkaC3JM .sm-pb {
    margin-bottom: 1rem;
  }
}
.cid-stbVjs2oIc {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-stbVjs2oIc .image-block {
  margin: auto;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.cid-stbVjs2oIc .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-stbVjs2oIc .image-block:hover:before {
  opacity: 0.4;
}
.cid-stbVjs2oIc .image-block:hover .wrap {
  opacity: 1;
}
.cid-stbVjs2oIc .image-block:hover img {
  transform: scale(1.05);
}
.cid-stbVjs2oIc figcaption {
  position: relative;
}
.cid-stbVjs2oIc figcaption .wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-stbVjs2oIc img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-stbVjs2oIc .image-block {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-stbVjs2oIc .wrap {
    opacity: 1 !important;
  }
  .cid-stbVjs2oIc .image-block:before {
    opacity: 0.2 !important;
  }
  .cid-stbVjs2oIc .sm-pb {
    margin-bottom: 1rem;
  }
}
.cid-stbViDFLkV {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-stbViDFLkV .image-block {
  margin: auto;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.cid-stbViDFLkV .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-stbViDFLkV .image-block:hover:before {
  opacity: 0.4;
}
.cid-stbViDFLkV .image-block:hover .wrap {
  opacity: 1;
}
.cid-stbViDFLkV .image-block:hover img {
  transform: scale(1.05);
}
.cid-stbViDFLkV figcaption {
  position: relative;
}
.cid-stbViDFLkV figcaption .wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-stbViDFLkV img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-stbViDFLkV .image-block {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-stbViDFLkV .wrap {
    opacity: 1 !important;
  }
  .cid-stbViDFLkV .image-block:before {
    opacity: 0.2 !important;
  }
  .cid-stbViDFLkV .sm-pb {
    margin-bottom: 1rem;
  }
}
.cid-stbXCDF3Yj {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-stbXCDF3Yj .image-block {
  margin: auto;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.cid-stbXCDF3Yj .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-stbXCDF3Yj .image-block:hover:before {
  opacity: 0.4;
}
.cid-stbXCDF3Yj .image-block:hover .wrap {
  opacity: 1;
}
.cid-stbXCDF3Yj .image-block:hover img {
  transform: scale(1.05);
}
.cid-stbXCDF3Yj figcaption {
  position: relative;
}
.cid-stbXCDF3Yj figcaption .wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-stbXCDF3Yj img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-stbXCDF3Yj .image-block {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-stbXCDF3Yj .wrap {
    opacity: 1 !important;
  }
  .cid-stbXCDF3Yj .image-block:before {
    opacity: 0.2 !important;
  }
  .cid-stbXCDF3Yj .sm-pb {
    margin-bottom: 1rem;
  }
}
.cid-stbXTHHtAr {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-stbXTHHtAr .block {
  width: 100%;
  height: 550px;
  display: block;
}
.cid-stbXTHHtAr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-stbXTHHtAr .first img {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.cid-stbXTHHtAr .last img {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
@media (max-width: 992px) {
  .cid-stbXTHHtAr .block {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-stbXTHHtAr img {
    padding-bottom: 1rem;
  }
  .cid-stbXTHHtAr .first img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .cid-stbXTHHtAr .last img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    padding-bottom: 0;
  }
}
.cid-stc1MZiLx0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ecedee;
}
.cid-stc1MZiLx0 img {
  width: 100%;
}
.cid-stc1MZiLx0 .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #fac1c8;
  background-color: rgba(132, 138, 189, 0.15);
}
.cid-stc1MZiLx0 .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-stc1MZiLx0 .main-title {
  color: #404040;
}
.cid-stc1MZiLx0 .mbr-section-subtitle {
  color: #999999;
  font-weight: 700;
  margin-bottom: 21px;
}
.cid-stc1MZiLx0 .mbr-text {
  color: #606060;
}
.cid-stc1MZiLx0 .cards .card {
  margin-bottom: 34px;
}
.cid-stc1MZiLx0 .cards .card .card-title {
  font-weight: 600;
  color: #404040;
  margin-bottom: 16px;
}
.cid-stc1MZiLx0 .cards .card .mbr-text {
  color: #606060;
}
@media (max-width: 768px) {
  .cid-stc1MZiLx0 .card {
    text-align: left;
  }
  .cid-stc1MZiLx0 .card .card-title {
    text-align: left;
  }
}
.cid-stc2R7EjjJ {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #1e2228;
}
@media (min-width: 1500px) {
  .cid-stc2R7EjjJ .container {
    max-width: 1400px;
  }
}
@media (max-width: 767px) {
  .cid-stc2R7EjjJ .copyright {
    margin-bottom: 1rem;
  }
}
.cid-stc2R7EjjJ p {
  color: #ffffff;
}
